.fon{
    background-color: antiquewhite;
}
.general{
    
     border: solid 8px;
    margin: 16px;
    padding: 16px;
    width: 512px;
    height: 128px;
}
.style1{
    box-sizing: content-box;
    background-color: aquamarine;
}
.style2{
    box-sizing: border-box;
    background-color: azure;
}
