.border-color div{
    box-sizing: border-box;
    border: 2px solid black;
    padding: 50px;
    margin: 50px;
}
.rectangle{
    background-color: blue; 
    
}
.rectangle2{
   
    background-color: yellow;
}
.rectangle3{
   
    background-color: green;
}
.rectangle4{
    
    background-color: pink;
}