$sm: 600px;
$md: 900px;
$lg: 1200px;
$color-first:#ff7f50;
$color-secondary:#8a2be2;
$color-sec-md:#a61;
$color-three:#c47;
$unit: 8px;
// $landscape: landscape;
// $portrait: portrait;

@mixin for-extra-small{
    @media screen and (max-width: ($sm - 1)),(orientation: portrait) {
        @content;
    }
}

@mixin for-media-ups{
    @media screen and (min-width: $sm) and (max-width: ($md - 1)){
        @content;
    }
}

@mixin for-too-ups{
    @media screen and (min-width: $md) and (max-width: ($lg - 1)) {
        @content;
    }
}

@mixin for-large{
    @media screen and (min-width: $lg) {
        @content;
    }
}

// @mixin position-land{
//     @media screen and (orientation: landscape) {
//         @content;
//     }
// }
// @mixin position-port{
//     @media screen and (orientation: portrait) {
//         @content;    
//     }
// }
  