@import 'breakpoints';
 
*{
    box-sizing: border-box;
}

.square{
    height: 100px;
    width: 100px;
    background-color:$color-first ;
    margin:$unit;
   

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
}
.square{
       @include for-media-ups{
        background-color:$color-secondary;
        flex-direction: column;
        flex-direction: row;
    }
    @include for-large{
        background-color:$color-three ;
    }
    @include for-too-ups{
        background-color:$color-sec-md ;
    }
    //  @include position-land{
    //     flex-direction: row;
    // }
    // @include position-port{
    //     flex-direction: column;
    // }
}

