*{
    box-sizing: border-box;
}

.header{
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}
.navigation{
display: flex;
padding: 0px;

    
}
.list{
    margin-left:  16px;
    list-style-type: none;
}
.footer{
    height: 40px;
    background-color: green;
    display: flex;

}
.footer_text{
    margin: auto;
}
.dashboard{
    background-color: pink;
    width: 100%;
    display: flex;
 
}
.dash_text{
    margin: auto;
}
.news{
    background-color: gray;
    min-width: 200px;
    margin-left: auto;
}
.news_text{
   justify-content: center;
   display: flex;
   margin: 16px;
   
}
.ul_list{
    list-style-type: none;
    padding: 0px;  
}
.li{
   margin-left:16px; 
   height: 40px;
}
.content{
    display: flex;
     flex-grow: 1;
}
.page{
    height: 100vh;
    display:flex;
    flex-direction: column;
}